@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Open+Sans&family=Pacifico&family=Pinyon+Script&family=Poppins:wght@400;500&display=swap');
*{
    /* font-family: 'Montserrat', sans-serif; */
}
html{
    scroll-behavior: smooth;
}
header{
    height: 40vh;
}
.caro{
    position: fixed;
    top: 0;
    z-index: -1;
}
nav{
    padding: 1.5rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo span{
    font-size: 2.5rem;
    color: #fff;
    font-weight: 900;
}
.nav__title a{
    padding: 0 .6rem;
    text-decoration: none;
    font-size: .9rem;
    font-weight: 500;
    color: #000;
}
.head__title h1{
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: 'Pinyon Script', cursive;
}
/* !========================================================================= */
#payment{
    text-align: center;
    padding: 20px;
    background-color: #344560;
    color: #fff;
}
.tittle__active span{
    color: rgb(247, 247, 41);
    font-size: 2rem;
}
.payment__img{
    margin: 20px 0;
}
.trans__id form{ 
    display: flex;
    flex-direction: column;
    gap: 10px;

}
form input{
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 2px;
}
.submit{
    background-color: #1a5f78;
    color: #fff;
}
.note{
    margin: 20px 10px;
}
.container__1{

}

/* !========================================================================= */
.trust{
    text-align: center;
}
.containers__{
    color: #fff;
    background-color: #1a5f78;
    padding: 20px;
}
.trust__title{
    margin: 20px 0;
}
.trust__title h3 span{
    color: rgb(247, 247, 36);
}
.trust__title p{
    font-size: .8rem;
}
.container__1{
    color: #fff;
    background-color: #617dc6;
}
.container__1 h3{
    font-size: 1.3rem;
    margin: 10px;
}
.container__1 h3 span{
    color: rgb(247, 247, 36);;
}




/* !========================================================================= */
@media only screen and (max-width: 1000px) {
    nav{
        padding: .2rem .5rem;
    }

    .nav__title a{
        background-color: #1a5f78;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: .8rem;
        color: #fff;
    }
    .logo span{
        font-size: 1.8rem;
    }
    .logo img{
        width: 30px;
    }
    .caro{
        height: 40vh;
    }
    .carousel-fade, .carousel-inner{
        height: 100%;
    }
    .carousel-item img{
        height: 40vh !important;
        object-fit: cover;
    }
    .right_container{
        margin-top: 10rem;
        padding: 0 40px;
    }
    .head__title h1{
        font-size: 3rem;
        font-weight: 900;
    }
    .container__1{
        padding: 15px;
    }
  }