@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Open+Sans&family=Pacifico&family=Pinyon+Script&family=Poppins:wght@400;500&display=swap');
*{
    /* font-family: 'Montserrat', sans-serif; */
}
.caro{
    position: fixed;
    top: 0;
    z-index: -1;
}
nav{
    padding: 1.5rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo span{
    font-size: 2.5rem;
    color: #fff;
    font-weight: 400;
}
.nav__title a{
    padding: 0 .6rem;
    text-decoration: none;
    font-size: .9rem;
    font-weight: 500;
    color: #000;
}
.head__title h1{
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: 'Pinyon Script', cursive;
}




@media only screen and (max-width: 1000px) {
    nav{
        padding: .2rem .5rem;
    }
    .logo span{
        font-size: 1.1rem;
    }
    .logo img{
        width: 20px;
    }
    .caro{
        height: 40vh;
    }
    .carousel-fade, .carousel-inner{
        height: 100%;
    }
    .carousel-item img{
        height: 40vh !important;
        object-fit: cover;
    }
    .right_container{
        margin-top: 13rem;
        padding: 0 30%;
    }
    .nav__title a{
        padding: 0 .3rem;
        font-size: .5rem;
    }
  }